.wrap {
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1230px;
    width: 100%;
    color: white;
}

.header img {
    width: 125px;
}

span {
    display: block;
}

.logo {

}

.link {
    display: flex;
    align-items: center;
}

.link a {
    padding: 15px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.link a:hover {
    color: orangered;
}

.link a.activeLink {
    color: orangered;
}
