.productCard {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 18px;
    height: 100%;
    overflow: hidden;
    text-align: center;
    padding: 18px 13.5px 0;
    padding: 0.5rem 0.125rem 0;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.productCard:hover {
    border: 1px solid #777;
    box-shadow: 0 6px 25px 0 rgba(0, 0, 0, 1.3);
}

img {
    width: 200px;
}

.productArtikul {
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 0;
}
.active{
    color: #E74C3C;
}


